$primary-color: #333;
$nav-height: 80px;

body {
  color: $primary-color;
}

.nav {
  width: 100%;
  background-color: $primary-color;
  height: $nav-height;
}

.nav > a,
.nav-buttons > a {
  padding: 20px 20px;
  line-height: 40px;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.nav-buttons {
  float: right;
}

.nav-button {
  padding: 10px 0 10px 0;
  cursor: pointer;
  cursor: hand;
}

.nav-button:hover {
  background-color: #404040;
}

.nav-button.active {
  background-color: #404040;
}

